# Ignore files after build

*.so
*.hpp
*.pcm
*_C.d
*_C.so

build
install

# Ignore compiled macros
*.d
AutoDict*

tmp/
lib/
test/plots/*
!test/plots/.gitkeep

test/profile/callgrind.out
test/profile/bin

# Ignore IDE files
.vscode
