name: C/C++ CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-22.04
    container:
      image: rootproject/root:6.30.04-ubuntu22.04

    steps:
    - name: Install git
      run: apt-get update && apt-get install -y git
    - uses: actions/checkout@v3
      with:
        submodules: 'true'
    - name: make
      run: make
    - name: make test
      run: make test
